sudo: required
services:
  - docker
  
before_install:
  - docker build -t yanivhome/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI yanivhome/react-test npm test
  
after_success:
  - docker build -t yanivhome/multi-client ./client
  - docker build -t yanivhome/multi-nginx ./nginx
  - docker build -t yanivhome/multi-server ./server
  - docker build -t yanivhome/multi-worker ./worker
  # Log in to the docker cli
  - echo "$DOCKER_PASSWORD" | docker_login -u "$DOCKER_ID" --password-stdin
  # Take those images and push them to docker hub 
  - docker push yanivhome/multi-client
  - docker push yanivhome/multi-nginx
  - docker push yanivhome/multi-server
  - docker push yanivhome/multi-worker